/* Tailwind CSS region for most of the app styling*/
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }

    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

/* Plain CSS region for specific page styling*/

/* Professional experience page */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100%;
}

/* Education page */
.education-container {
    font-size: 1.3rem; /* 24px */
    line-height: 2rem;
    width: 800px;
    margin: 15px auto;
    padding: 20px;
    background-color: #155e75;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.education-item .date {
    font-style: italic;
    color: #7f8c8d;
}

.education-img{
    width: 5rem;
    height: 5rem;
    margin-right: 5px;
    border-radius: 3%;
}

.education-description{   
    margin-top: 20px;
}

@media (max-width: 600px) {
    .education-container {
        padding: 10px;
    }
}

/* Personal project's page */
.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    background-image: linear-gradient(to right,
            rgba(112, 157, 255, 0.8),
            hsla(242, 74%, 61%, 0.8)) !important;
}

/* Achievements page */
.certificates-img{
    margin-top: 15px;
    width: 32rem;
    height: 48rem;
    margin-right: 5px;
    border-radius: 3%;
}